__pycache__/
*.pyc
*.log
dftfeScratch*/
ex3_manual_run/
.venv/
test_run*/
forces.txt
forces.txt.old
*.traj
run_poster_demo/
Progress_Updates/

## out files
*.op
*.out
*.log

## remove debug files
/examples/debug_tools
